footer{
    width: 100%;
    background: #ffffff;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    .logo-footer{
        max-width: 12%;
    }
    
    p{
        margin: 0;
        font-weight: bold;
        font-size: 1.25vw;
    }
}

@media (max-width: 768px){
    footer{
        height: 20vw;
        
        .logo-footer{
            max-width: 30%;
        }
        
        p{
            font-size: 2vw;
        }
    }
}