// Section Toolkit /////////////////////////////////////////////////////////////////////////
section.toolkit{
    background-image:url("../img/background-small.png");
    padding: 170px 0 75px;

    div.container-header{
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 40px;
        width: 80%;
        margin: 0 auto;

        div.img-header {
            width: 45%;

            .img1{
                width:100%     
            } 
        }

        .resumo{
            width: 45%;

            p{
                background-color: #eff4f7;
                color: #000000;
                font-weight: 500;
                text-align: left;
                padding: 30px 10px 60px;
                font-size: 23px;        
                //margin-top: 68px;
                font-size: 1.7vw;
                margin: 0;
             }
                    
            a.botao{
                background-color: #0066CC;
                color: #ffffff;
                padding: 20px 40px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 23px;
                font-weight: 500;
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
                font-weight: bold;
                width: 300px;
                margin-left: 10px;         
            }
        }
    }
       
    .img2{
        // // height: auto;
        width: 190px;
        float: right;
        // display: block;
        // // height: 100px;
        // // position: absolute;
        // // top: 299px;
        // // left: 903px;
        // // height: 140px;
    }
}


// Media Queries - 768///////////////////////////////////////////////////////////////////////
@media (max-width: 768px){
   
    section.toolkit {
        div.container-header {
            div.resumo {
                a.botao {
                    padding: 10px 0px;
                    width: 218px;
                    font-size: 18px;
                }
            }
        }

        .img2{
            width: 120px;
        }
    }
}

    
// Media Queries - 480///////////////////////////////////////////////////////////////////////
@media  (max-width: 480px){
    
    section.toolkit {
        div.container-header {
            display: block;

            div.img-header {
                margin: 0 auto;
                width: 60%;
            }

            div.resumo {
                margin: 0 auto;
                text-align: center;
                width: 95%;

                p {
                    font-size: 17px;
                    padding: 17px;
                }

                a.botao {
                   margin: 0;
                    width: 170px;
  
                }
            }
        }

        .img2{
            width: 78px;
        }
    }
}
